#showBlackboard {
  margin-bottom: 10px;
}

#slider {
  margin-bottom: 20px;
}

.wrapper-panel {
  padding: 20px 10px;
}

.dateSlider-label {
  margin-top: 41px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#publish-report-button {
    margin-top: 20px;
}

.panel-heading span {
    margin-right: 5px;
}
